<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="AmazonTest.AmazonHomePage"/>
      <class name="AmazonTest.AmazonTabsTest"/>
      <class name="AmazonTest.AmazonSigninTest"/>
      <class name="AmazonTest.AmazonSearchPageTest"/>
      <class name="AmazonTest.AmazonCartTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
